

.cardStyle{
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  text-decoration: none;
  
}
.cardFlexs{
  display: flex;
  justify-content: space-around;
  
}

.imgStyle{
  height: 300px;
  width: 300px;
}


.col-3{
  margin: 0 auto;
  margin-top: 44px;
}

.titleStyle{
  text-decoration: none;
}
